<div id="content">
			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>ANDROID</h2>
					<ul class="page-tree">
						<li><a ui-sref="main">HOME</a></li>
						<li><a ui-sref="android">ANDROID</a></li>
					</ul>				
				</div>
			</div>
			<div class="blog-box with-sidebar">
				<div class="container">
					<div class="row">
 						<div class="col-md-9 blog-side">
                            <ul class="pagination1">
								<li> <div class="item news">
										<!--<img alt="" src="assets/upload/blog1.jpg">-->
										<p>



With the figure of smartphones with Android OS sold, the prediction to get doubled in the next few years, businesses need its mobile assistance to stand out from the mass and induce users to come back. The elementary differentiator being appealing design and clean coding, we bring our expertise to put collectively an enriching mobile experience to get our customers going. SBS Group i-Tech Solutions holds a wide experience in developing Android Applications, and has catered a large clientele around the globe. Designing, developing, testing and deploying the applications, is what we will help our clients to provide with. The integrated and well-researched process followed by our mobile application department will help you distribute your free, paid, or internal applications in the market.

We possess sound technical skills and expertise over the Android platform and offer you varied solutions for the development of your Android app. From simple straight apps to brainstorms, we enjoy delivering quality solutions as per Google play store guidelines. Development process of Android apps is done in such a way, so as to make future releases easy.

Our focus is to use technology to provide a personal and consistent experience for our esteemed clients. Innovation, quality and customer focused approach, are our core ethics and technology expertise is our specialty. Multiple projects within different domains have nurtured our technological skills, and a vast experience has solidified our confidence to deliver best Android app solutions.

As a part of specialized Android application development services, we use ad hoc methodology for sharing early releases with clients. We like to keep informed to our clients with regular builds and make sure that our release procedure is feedback driven.

</p>
										
									</div> </li>    
                             </ul>
							
                            <div class="clearboth"></div>
                          
						</div>
						
							<div class="col-md-3 sidebar">
	<div class="tabs-widget widget">
									<ul class="tab-links">
										<!--<li><a class="tab-link1 active" href="#"> Popular</a></li>-->
										<li><a class="tab-link2" href="#"> Recent Project </a></li>
										<!--<li><a class="tab-link3" href="#"> Comments</a></li>-->
									</ul>
									<div class="tab-box">
										<div class="tab-content active">
											<ul class="post-popular">
												<li>
													<a href="/portfolio"> <img alt="" src="http://sbsgroupsolutions.com//assets/images/recentpost/stoneandtilepros.png" width="197" height="45"></a>
													
                                                    <!--<h6 style="margin-top:20px; float:left; width:100%;"><a href="/portfolio">Stone And Tile PROS </a></h6>-->
                                                </li>
												<li>
													<a href="/portfolio"> <img alt="" src="http://sbsgroupsolutions.com//assets/images/recentpost/prosteem.png" width="105" height="45"> </a>
													<!--<h6 style="margin-top:20px; float:left; width:100%;"><a href="/portfolio">Prosteem</a></h6>-->
												</li>
												<li>
													<a href="/portfolio"> <img alt="" src="http://sbsgroupsolutions.com//assets/images/recentpost/stone-makeover.png" width="133" height="45"></a>
													<!--<h6 style="margin-top:20px; float:left; width:100%;"><a href="/portfolio">Stone Makeover</a></h6>-->
												</li>
											</ul>
										</div>
										
									</div>
								</div>
    <div class="accordion-widget widget">
									<h3 style="text-align:left;">Testimonials</h3>
									
                                    <div class="sidebar-testi" style="margin-bottom:20px;">
                                         <p> SBS Group has developed many sites for us. I consider them to be an expert on my team and I would be lost without them. I rely on their expertise to help me make the right choices for every project.</p> <div style="margin-top:10px; text-align:right;"><span>Deborah Shaw(Debbie), Id Est Productions.</span></div>
                                         
                                         

									</div>
                                    
                                    <div class="viewall-wrap" style="width:100%; margin-top:20px; text-align:right"><a ui-sref="testimonial1" style="color:#aeaeae; text-decoration:none;">View All</a>
								</div>

							<!--	<div class="tags-widget widget">
									<h3>Tags</h3>
									<ul class="tag-widget-list">
										<li><a href="#">web design</a></li>
										<li><a href="#">coding</a></li>
										<li><a href="#">wordpress</a></li>
										<li><a href="#">woo commerce</a></li>
										<li><a href="#">php</a></li>
										<li><a href="#">photography</a></li>
									</ul>
								</div>

								<div class="text-widget widget">
									<h3>Text Widget</h3>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
								</div>-->

							</div>
</div>						</div>
					</div>
											
				</div>
			</div>

		</div>