
		<!-- content 
			================================================== -->
		<div id="content" ng-controller="contactCtrl">
  <!-- Page Banner -->
  <div class="page-banner" style="margin-bottom:40px ;"">
    <div class="container">
      <h2>Contact Us</h2>
      <ul class="page-tree">
        <li><a ui-sref="main">Home</a></li>
        <li><a ui-sref="contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <!-- Map box -->
  <div style="margin-bottom:40px">
    <div style="width: 100%">
    
     <iframe ma width="1280" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJVxsTIDn9YjkRCYCUPzGEh2s&key=AIzaSyCGvn2Im0qQz7UbN-HFJFMXxFMjQwpiK8w" allowfullscreen></iframe>
    </div>
    <br />
  </div>
  <!-- contact box -->
  <div class="contact-box">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="contact-information">
            <h3>Contact information</h3>
            <ul class="contact-information-list">
              <li><a class="address" href="#"><i class="fa fa-home"></i><span>6/2 Murai Maholla Indore </span><span> Madhya Pradesh India.</span></</li>
              <li><a class="phone" href="tel:917314258249"><i class="fa fa-phone"></i><span>Phone: +91-731-4258249</span></a></li>
              <li><a class="phone" href="tel:9826450971"><i class="fa fa-mobile"></i><span> Mob: +91-9826450971 </span></a></li>
              <li><a class="mail" href="mailto:mail@sbsgroupsolutions.com"><i class="fa fa-envelope"></i><span>mail@sbsgroupsolutions.com</span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">

          <h3>Contact us</h3>
          <div class="message" style="color:green;">
                      </div>
          <div class="error" style="color:red;">
                      </div>
          </br>
		  <div id="contactus">
          <form id="contact-form" name="userForm"  novalidate>

            <div class="text-input">
              <div class="float-input ">
               <input type="text" id="name" class="form-control" placeholder="name" name="name" ng-model="name" required >
                  <span><i class="fa fa-user"></i></span>
                <p ng-show="userForm.name.$error.required">Username is required.</p>
               </div>
              <div class="float-input">
                <input  type="email"  class="form-control" placeholder="        email" name="email" ng-model="email" required>
                <span><i class="fa fa-envelope"></i></span>
               <p ng-show="userForm.email.$error.required">Email is required.</p>
              <p ng-show="userForm.email.$error.email">Invalid email address.</p>

 </div>
            </div>
            <div class="textarea-input">
              <textarea name="message" id="message" class="form-control" ng-model="message" placeholder="message" required  ng-minlength="20" ng-maxlength="999999"></textarea>
              <span><i class="fa fa-comment"></i></span>
               <p ng-show="userForm.message.$error.required">Message is required.</p>
               <p ng-show="userForm.message.$error.minlength" >Username is too short.</p>
            <p ng-show="userForm.message.$error.maxlength" >Username is too long.</p>
             </div>
            <!-- <div id="msg" class="message"></div>
			
			     Enter Image Text
                <input name="captcha" type="text" ng-model="captcha" id="pass1">
                  <div style="color:red;"><img src="http://sbsgroupsolutions.com/home/captcha_view"/>  </div>
             -->
                     <button type="submit" ng-click="submit()" style="position: absolute; right: 14px;" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
  </form>
		  </div>
        </div>
      </div>
    </div>
  </div>
</div>

	