
<div id="content">
  <!-- Page Banner -->
  <div class="page-banner">
    <div class="container">
      <h2>Portfolio</h2>
      <ul class="page-tree">
        <li><a ui-sref="main">Home</a></li>
        <li><a ui-sref="portfolio1">Portfolio</a></li>
      </ul>
    </div>
  </div>
  <div class="portfolio-box with-4-col">
    <div class="container">
      <ul class="filter">
        <li><a href="#" class="active" data-filter="*"><i class="fa fa-th"></i>Show All</a></li>
        <li><a href="#" data-filter=".website">Website</a></li>
        <li><a href="#" data-filter=".mobile">Mobile Site</a></li>
        <li><a href="#" data-filter=".android">ANDROID APP</a></li>
        <li><a href="#" data-filter=".ios">IOS APP</a></li>
      </ul>
      <div class="portfolio-container">

      <div class="row">
      <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/stpbackstage-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/stpbackstage-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://stpbackstage.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>BACKSTAGE</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
          </div>
          </div>
          <div class="col-md-3">
       
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/eflashapps-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/eflashapps-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://www.eflashapps.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>EFLASHAPPS</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/manchestermela-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/manchestermela-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://www.manchestermela.co.uk/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>MANCHESTERMELA</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/sangeet-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/sangeet-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"target="_blank" href="http://www.sangeetonline.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>SANGEETONLINE</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        </div>

        <div class="row">
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/taskgram-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/2images/taskgram-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://taskgram.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>TASKGRAM</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/igsdiamonds-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/igsdiamonds-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"  target="_blank" href="http://igsdiamonds.com/ "><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>IGS DIAMOND</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/hotal-medium.png">
            <div class="hover-box"> <a class="zoom video"  href="http://sbsgroupsolutions.com/assets/2images/hotal-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://www.hotelsangambhopal.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>HOTALSANGAM</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/aerosock-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/aerosock-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://www.aerosock.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>AEROSOCK</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        </div>
        <!--<website end-->
        <!----------------------------------------------------------------->
        <!--<iOS Site start-->
        <div class='row'>
        <div class="col-md-3">
        <div class="work-post ios">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/iOS2/mandarin-baby-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/iOS2/mandarin-baby-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="https://itunes.apple.com/in/app/mandarin-baby-flash-cards/id421829637?mt=8

"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>MANDARIN BABY</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post ios">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/iOS2/sight-words-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/iOS2/sight-words-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href=
"https://itunes.apple.com/in/app/sight-words-learn-to-read/id447065810?mt=8"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>SIGHT WORDS</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post ios">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/iOS2/fun-park-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/iOS2/fun-park-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="https://itunes.apple.com/in/app/baby-first-words-fun-park/id599000521?mt=8"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>FUN PARK</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post ios">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/iOS2/picture-dictionary-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/iOS2/picture-dictionary-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="https://itunes.apple.com/in/app/kids-picture-dictionary-educational/id482972824?mt=8"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>PICTURE DICTIONARY</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        </div>

        <div class="row">
        <div class="col-md-3">
         <div class="work-post ios">
        <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/portfolio/abstract-lesson-mediuml.png">
          <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/portfolio/abstract-lesson-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" href="https://itunes.apple.com/us/app/abstract-lesson/id803099378?mt=8"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>ABSTRACT LESSON</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="work-post ios">
        <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/portfolio/jerrys-world-seek-medium.png">
          <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/portfolio/jeriworld.jpg"><i class="fa fa-plus-circle"></i></a> <a class="page" href="https://itunes.apple.com/us/app/jerrys-world-seek-find/id574491053?ls=1&mt=8"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>JERRY'S WORLD SEEK & FIND</h2>
        </div>
      </div>
      </div>
        <!--<iOS end-->
        <!--<Android start-->
      <div class="col-md-3">
        <div class="work-post android">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/android2/pamflat-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/android2/pamflat-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"   target="_blank" href="https://play.google.com/store/apps/details?id=com.pack.palmflatapp&hl=en"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>PAMFLAT APP</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post android">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/android2/taskgram-full.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/android2/taskgram-medium.png"><i class="fa fa-plus-circle"></i></a> <a class="page"   target="_blank" href="https://play.google.com/store/apps/details?id=com.taskgramforuser.activity"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>TASKGRAM</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        </div>

        <div class="row">
        <div class='col-md-3'>
        <div class="work-post android">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/android2/attendance-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/android2/attendance-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"  target="_blank" href="https://play.google.com/store/apps/details?id=com.sbs.simpleattendance/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>SIMPLE ATTENDANCE</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post android">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/android2/playsightwords-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/android2/playsightwords-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"  target="_blank" href="
https://play.google.com/store/apps/details?id=com.playsightwords"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>PLAYSIGHTWORDS</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post android">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/android2/selfieback-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/android2/selfieback-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"  target="_blank" href="
https://play.google.com/store/apps/details?id=com.adimapps.selfieback&hl=en"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>SELFI BACK</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post android">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/android2/number-flash-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/android2/number-flash-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"  target="_blank" href="https://play.google.com/store/apps/details?id=air.com.eflashApps.numberKids"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>ELASH NUMBER KIDS</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        </div>
        <!--<span>End android-->
        <!--<span>start mobile site-->


        <div class="row">
        <div class="col-md-3">
        <div class="work-post nature mobile">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/portfolio/artisticstonerichmond-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/portfolio/artisticstonerichmond-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"  target="_blank" href="http://artisticstonerichmond.mobi/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>ARTISTICSTONERICHMOND</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post nature mobile">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/portfolio/diamond-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/portfolio/diamond-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"  target="_blank" href="http://diamondstc.mobi/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>DIAMOND</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post nature mobile">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/portfolio/idest-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/portfolio/idest-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"  target="_blank" href="http://idestproductions.mobi/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>IDST PRODUCTION</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post nature mobile">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/portfolio/fabra-clean-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/portfolio/fabra-clean-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" href="http://www.fabracleen.mobi/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>FABRACLEEN MOBILE</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        </div>
        <!--<span>end mobile site-->
        <div class="clearboth"></div>
      </div>
      <ul class="pagination-list">
        <li><a ui-sref="portfolio1">1</a></li>
        <li><a class="active" ui-sref="portfolio2">2</a></li>
        <li><a ui-sref="portfolio3">3</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- End content -->