<div id="content">
			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Portfolio</h2>
					<ul class="page-tree">
						<li><a ui-sref="main">Home</a></li>
						<li><a ui-sref="portfolio1">Portfolio</a></li>
					</ul>				
				</div>
			</div>
		
  <div class="portfolio-box with-4-col">
    <div class="container">
      <ul class="filter">
        <li><a href="#" class="active" data-filter="*"><i class="fa fa-th"></i>Show All</a></li>
        <li><a href="#" data-filter=".website">Website</a></li>
        <li><a href="#" data-filter=".mobile">Mobile Site</a></li>
        <li><a href="#" data-filter=".android">ANDROID APP</a></li>
        <li><a href="#" data-filter=".ios">IOS APP</a></li>
      </ul>
      <div class="portfolio-container">

      <div class='row'>
      <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/sarcinfra-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/sarcinfra-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://www.sarcinfra.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>SARCINFRA</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/headgym-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/headgym-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://www.headgym.co.uk/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>HEAD GYM</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/safetyprograms-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/safetyprograms-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://www.safetyprograms.ca/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>SAFETY PROGRAMS</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/prosteem-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/prosteem full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"target="_blank" href="http://www.prosteem.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>PROSTEEM</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/arnabnath-medium.png">
            <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/2images/arnabnath-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://www.arnabnath.com"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>ARNABNATH</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/romancingtherange-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/romancingtherange-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page"  target="_blank" href="https://romancingtherange.net/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>ROMANCINGTHERANGE</h2>
            <!--<span>short description of portfolio item</span>-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/restorationstoneworks-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/restorationstoneworks-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://restorationstoneworks.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>RESTORATION STONE NETWORK</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        <!--- our -->
        <div class="col-md-3">
         <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/dsrodriguesconstruction-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/dsrodriguesconstruction-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://www.dsrodriguesconstruction.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>D.S. RODRIGUES CONSTRUCTION</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/stoneshine-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/stoneshine-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://stoneshine.net/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>STONESHINE RESTORATION</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/houstonsurfacecare-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/houstonsurfacecare-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://houstonsurfacecare.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>HOUSTON SURFACE CARE</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
          <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/naturalstonecare-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/naturalstonecare-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://www.naturalstonecare.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>NATURAL STONE CARE</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/sparklesurfacecare-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/sparklesurfacecare-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://sparklesurfacecare.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>SPARKLE SURFACE CARE</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/stonecareoftexas-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/stonecareoftexas-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://stonecareoftexas.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>STONE CARE OF TEXAS</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/surfacecarepros-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/surfacecarepros-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://surfacecarepros.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>SURFACE CARE PROS</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/troyautoglass-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/troyautoglass-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://troyautoglass.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>TROY AUTO GLASS</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post nature mobile">
        <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/portfolio/stonemakeover-medium.png">
          <div class="hover-box"> <a class="zoom video" href="http://sbsgroupsolutions.com/assets/portfolio/stonemakeover-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://stonemakeover.mobi/"><i class="fa fa-arrow-circle-right"></i></a> </div>
        </div>
        <div class="work-post-content">
          <h2>STONEMAKEOVER MOBILE</h2>
          <!--<span>short description of portfolio item</span>-->
        </div>
      </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/patriotstonerestoration-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/patriotstonerestoration-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://patriotstonerestoration.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>PATRIOT STONE RESTORATION</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/ashleyjharper-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/ashleyjharper-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://ashleyjharper.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>ASHLEY J. HARPER'S HEART'S FLIGHT</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="work-post website">
          <div class="work-post-gal"> <img alt="" src="http://sbsgroupsolutions.com/assets/2images/diamondstoneandtilecare-medium.png">
            <div class="hover-box"> <a class="zoom" href="http://sbsgroupsolutions.com/assets/2images/diamondstoneandtilecare-full.png"><i class="fa fa-plus-circle"></i></a> <a class="page" target="_blank" href="http://diamondstoneandtilecare-south.com/"><i class="fa fa-arrow-circle-right"></i></a> </div>
          </div>
          <div class="work-post-content">
            <h2>DIAMOND STONE & TILE CARE SOUTH</h2>
            <!--<span>short description of portfolio item</span-->
          </div>
        </div>
        </div>
        
       
        <!--<span>end mobile site-->
        <div class="clearboth"></div>
      </div>	
                
                    <ul class="pagination-list">

						<li><a ui-sref="portfolio1">1</a></li>
						<li><a ui-sref="portfolio2">2</a></li>
                        <li><a  class="active" ui-sref="portfolio3">3</a></li>
					</ul>	
				</div>
			</div>
		</div>