<style type="text/css">
  

a.zoom{
  right:50%;margin-right:30px
  }

.btn-default
{
    font-size: 18px;
    color:#7E7E7E;
   
    text-align: center;
    
}
.btn-default:hover
{
    font-size: 18px;
    /*border: 1px solid #42B32F;
    border-radius: 5px;*/
    text-align: center;
   
    background-color: #00ADEF;
 
}
.btn-default.active
{
    background-color: #00ADEF;
    color: white;
}
ul li{
  display: inline;
}



</style>

 <script>
    function showBox(id){
        document.getElementById(id.getAttribute('rel')).style.display='block';
    }
    function hideBox(id){
        document.getElementById(id.getAttribute('rel')).style.display='none';
    }
    </script>
<!-- <script type="text/javascript" src="js/script.js"></script> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div id="content" ng-controller="portfolioCtrl">
<!-- Page Banner -->
<div class="page-banner">
  <div class="container">
    <h2>Portfolio</h2>
    <ul class="page-tree">
      <li><a ui-sref="main">Home</a></li>
      <li><a ui-sref="portfolio1">Portfolio</a></li>
    </ul>
  </div>
</div>
<div class="portfolio-box with-4-col" >
  <div class="container">
    

        <ul class="btn-group" opt-kind ok-key="filter" >
              <li><a type='button' class='btn btn-default active ' ok-sel="*"><i class="fa fa-th"></i>Show All</a></li>
              <li><a type='button' class='btn btn-default' ok-sel=".website">website</a></li>
              <li><a type='button' class='btn btn-default' ok-sel=".android">android</a></li>
              <li><a type='button' class='btn btn-default' ok-sel=".mobile">mobile</a></li>
               <li><a type='button' class='btn btn-default' ok-sel=".ios">ios</a></li>
             
            </ul>


        </br>

      
          <div id="isotopeContainer" isotope-container class="portfolio-container" >
            <div ng-repeat="x in data | pagination: curPage * pageSize | limitTo: pageSize" >

             <div  isotope-item class="kindling {{x.type}} ">
                    
                
                   <div class=" work-post">
                
                    <div class="work-post-gal"> <img alt="" src="{{x.imagepath}}{{x.imagename}}">

                      <div class="hover-box"> <a class="zoom">
                        <i rel="{{x._id}}" onclick="showBox(this)" class="fa fa-plus-circle"></i></a> 

                        <a class="page"  target="_blank"  href="{{x.link}}"><i class="fa fa-arrow-circle-right"></i></a> 
                      </div>

                    </div>
                  

                    <div class="work-post-content">

                      <h2>{{x.portfolioname}}</h2>

                      

                    </div>
                    </div>
                 
                       


                  </div> 


                <div id="{{x._id}}" style="margin-top: 30px; " class="w3-modal">
                   <div class="w3-modal-content">
                   <div class="w3-container" style="background: black;">
                     <span rel="{{x._id}}" onclick="hideBox(this)" class="w3-button w3-display-topright">&times;</span>
                      <img src="{{x.imagepath}}{{x.fullimagename}}">
                  </div>
                 </div>
                </div> 
            </div>

      
      

     
      </div>

        <!-- 
   <div class="portfolio-container" isotope-container ng-repeat="x in data | pagination: curPage * pageSize | limitTo: pageSize">

                <div id="{{x._id}}" style="margin-top: 30px;" class="w3-modal">
                   <div class="w3-modal-content">
                   <div class="w3-container">
                     <span rel="{{x._id}}" onclick="hideBox(this)" class="w3-button w3-display-topright">&times;</span>
                      <img src="{{x.imagepath}}{{x.fullimagename}}">
                  </div>
                 </div>
                </div>

                  <div class="filter {{x.type}} work-post col-lg-4 col-md-4 col-sm-4" isotope-item>

                    <div class="work-post-gal"> <img alt="" src="{{x.imagepath}}{{x.imagename}}">

                      <div class="hover-box"> <a class="zoom">
                        <i rel="{{x._id}}" onclick="showBox(this)" class="fa fa-plus-circle"></i></a> 

                        <a class="page"  target="_blank"  href="{{x.link}}"><i class="fa fa-arrow-circle-right"></i></a> 
                      </div>

                    </div>
                  

                    <div class="work-post-content">

                      <h2>{{x.portfolioname}}</h2>

                      <span>{{x.type}} Development</span> 

                    </div>
                       


                  </div>      </div> -->

         </div>     

      </div> 

    
 
   
   
       
     <!--<span>end mobile site-->  
      <div class="clearboth"></div>
    </div>
      <div style="margin-left: 100px;" class="pagination-div pagination-list" ng-show="data.length">
                            <ul id="pager">
                                <li>
                                    <button  type="button" ng-disabled="curPage == 0" ng-click="curPage=curPage-1"><i class="fa fa-chevron-left" style="color: white;" aria-hidden="true"></i></button>
                                </li>
                                <li>
                                    <span>{{curPage + 1}} </span>
                                </li>
                                <li>
                                    <button type="button" ng-disabled="curPage >= data.length/pageSize - 1" ng-click="curPage = curPage+1"><i class="fa fa-chevron-right" aria-hidden="true" style="color:white;"></i> </button>
                                </li>
                            </ul>
                        </div>

                        </br>
                        </br>
  </div>
</div>

    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>

 
  <script src="js/jquery.isotope.js"></script>
  <script src="js/angular-isotope.js"></script>

<!-- 
<script type="text/javascript">
var $=jQuery.noConflict();
$(document).ready(function(){
 
    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        
        if(value == "all")
        {
           
            $('.filter').show('1000');
        }
        else
        {      
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
            
        }
    });
 
});
</script> -->