<div id="content">
			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>SEO</h2>
					<ul class="page-tree">
						<li><a ui-sref="main">Home</a></li>
						<li><a ui-sref="seo">SEO</a></li>
					</ul>				
				</div>
			</div>
			<div class="blog-box with-sidebar">
				<div class="container">
					<div class="row">
 						<div class="col-md-9 blog-side">
                            <ul class="pagination1">
								<li> <div class="item news">
										<!--<img alt="" src="assets/upload/blog1.jpg">-->
										<p>
SBS Group Solutions is the leading SEO and Internet Marketing services provider. Nowadays, SEO is not just doing link building for a website; rather it has gone to be more planned approach to get a website on First page of Search Engines. The advent of new Google algorithms is also a new twist for all who want to achieve top rankings in the Google. And thus the SEO strategies are gaining more significance for a web positioning.

Doing SEO includes number of steps into it:

Doing proper keyword research is the key and first step of a website going into right direction for SEO. This can be achieved all the way through the inclusion of keywords that can reach the desired market segment.

Then it comes to know about, for which keywords your competitors are working for their websites. By including proper keywords, Meta tags, titles and descriptions of proper length while doing On Page optimization, another essential step is made.

While doing off page optimization, it is to be checked and always remembered that this is not just entering data of your websites into different directory or social media websites. Though it is the process, with which we can maximize our website to be viewed by the visitors over the globe.

Whenever people search for certain word, with the right management of social networks, we can maximize its influence in the society resulting, the company and the brand gaining more views and higher visibility in search engines. This is done with Social media marketing.

To maintain your website position on Search Engines these processes of On and Off page with social media marketing are to be worked upon continuously.

                                                    </p>
										
									</div> </li>    
                             </ul>
							
                            <div class="clearboth"></div>
                          
						</div>
						
							<div class="col-md-3 sidebar">
	<div class="tabs-widget widget">
									<ul class="tab-links">
										<!--<li><a class="tab-link1 active" href="#"> Popular</a></li>-->
										<li><a class="tab-link2" href="#"> Recent Project </a></li>
										<!--<li><a class="tab-link3" href="#"> Comments</a></li>-->
									</ul>
									<div class="tab-box">
										<div class="tab-content active">
											<ul class="post-popular">
												<li>
													<a href="/portfolio"> <img alt="" src="http://sbsgroupsolutions.com//assets/images/recentpost/stoneandtilepros.png" width="197" height="45"></a>
													
                                                    <!--<h6 style="margin-top:20px; float:left; width:100%;"><a href="/portfolio">Stone And Tile PROS </a></h6>-->
                                                </li>
												<li>
													<a href="/portfolio"> <img alt="" src="http://sbsgroupsolutions.com//assets/images/recentpost/prosteem.png" width="105" height="45"> </a>
													<!--<h6 style="margin-top:20px; float:left; width:100%;"><a href="/portfolio">Prosteem</a></h6>-->
												</li>
												<li>
													<a href="/portfolio"> <img alt="" src="http://sbsgroupsolutions.com//assets/images/recentpost/stone-makeover.png" width="133" height="45"></a>
													<!--<h6 style="margin-top:20px; float:left; width:100%;"><a href="/portfolio">Stone Makeover</a></h6>-->
												</li>
											</ul>
										</div>
										
									</div>
								</div>
    <div class="accordion-widget widget">
									<h3 style="text-align:left;">Testimonials</h3>
									
                                    <div class="sidebar-testi" style="margin-bottom:20px;">
                                         <p> SBS Group has developed many sites for us. I consider them to be an expert on my team and I would be lost without them. I rely on their expertise to help me make the right choices for every project.</p> <div style="margin-top:10px; text-align:right;"><span>Deborah Shaw(Debbie), Id Est Productions.</span></div>
                                         
                                         

									</div>
                                    
                                    <div class="viewall-wrap" style="width:100%; margin-top:20px; text-align:right"><a ui-sref="testimonial1" style="color:#aeaeae; text-decoration:none;">View All</a>
								</div>

							<!--	<div class="tags-widget widget">
									<h3>Tags</h3>
									<ul class="tag-widget-list">
										<li><a href="#">web design</a></li>
										<li><a href="#">coding</a></li>
										<li><a href="#">wordpress</a></li>
										<li><a href="#">woo commerce</a></li>
										<li><a href="#">php</a></li>
										<li><a href="#">photography</a></li>
									</ul>
								</div>

								<div class="text-widget widget">
									<h3>Text Widget</h3>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
								</div>-->

							</div>
</div>						</div>
					</div>
											
				</div>
			</div>

		</div>
		<!-- End content -->