<div id="slider" >

  <div class="fullwidthbanner-container">

    <div class="fullwidthbanner">

      <ul>

        <!-- THE third SLIDE -->

        <li data-transition="3dcurtain-vertical" data-slotamount="10" data-masterspeed="300"> <img alt="" src="images/upload/slider-revolution/slider1.jpg" >

          <!-- THE CAPTIONS IN THIS SLDIE -->

          <div class="caption large_text sfb"

                 data-x="25"

                 data-y="100"

                 data-speed="600"

                 data-start="1200"

                 data-easing="easeOutExpo" data-end="7000" data-endspeed="300" data-endeasing="easeInSine" style="color:#778896; font-size:32px; font-weight:bold; line-height:36px; padding-bottom:10px; margin-bottom:10px;" >Mobile Application Development</div>

          <div class="caption big_white sft stt"

                 data-x="25"

                 data-y="147"

                 data-speed="500"

                 data-start="1400"

                 data-easing="easeOutExpo" data-end="7100" data-endspeed="300" data-endeasing="easeInSine" style="color:#006DB2;" >Native iOS and Android Development</div>

          <div class="caption modern_medium_fat sft stt"

                 data-x="25"

                 data-y="194"

                 data-speed="500"

                 data-start="1600"

                 data-easing="easeOutExpo" data-end="7200" data-endspeed="300" data-endeasing="easeInSine" style="color:#006DB2;" >Solutions for B2E, B2B and B2C</div>

          <div class="caption small_text sft stt"

                 data-x="25"

                 data-y="225"

                 data-speed="500"

                 data-start="1900"

                 data-easing="easeOutExpo" data-end="7300" data-endspeed="300" data-endeasing="easeInSine" style="color:#006DB2;" >Porting apps from one platform to another</div>

          <div class="caption small_text sft stt"

                 data-x="25"

                 data-y="225"

                 data-speed="500"

                 data-start="1900"

                 data-easing="easeOutExpo" data-end="7300" data-endspeed="300" data-endeasing="easeInSine" style="color:#006DB2;" >Porting apps from one platform to another</div>

          <div class="caption randomrotate"

                 data-x="25"

                 data-y="300"

                 data-speed="600"

                 data-start="2200"

                 data-easing="easeOutExpo" data-end="7350" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/upload/slider-revolution/ios-icon.png" alt="Image 1"></div>

          <div class="caption randomrotate"

                 data-x="135"

                 data-y="300"

                 data-speed="600"

                 data-start="2700"

                 data-easing="easeOutExpo" data-end="7450" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/upload/slider-revolution/android-icon.png" alt="Image 2"></div>

          <div class="caption randomrotate"

                 data-x="245"

                 data-y="300"

                 data-speed="600"

                 data-start="3100"

                 data-easing="easeOutExpo" data-end="7550" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/upload/slider-revolution/css3-icon.png" alt="Image 3"></div>

          <div class="caption randomrotate"

                 data-x="355"

                 data-y="300"

                 data-speed="600"

                 data-start="3500"

                 data-easing="easeOutExpo" data-end="7650" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/upload/slider-revolution/html5-icon.png" alt="Image 4"></div>

          <div class="caption randomrotate"

                 data-x="680"

                 data-y="40"

                 data-speed="600"

                 data-start="4000"

                 data-easing="easeOutExpo" data-end="7800" data-endspeed="300" data-endeasing="easeInSine" ><img src="images/upload/slider-revolution/iphone-android.png" alt="Image 6"></div>

        </li>

        <li data-transition="turnoff" data-slotamount="10" data-masterspeed="300">

          <!-- THE MAIN IMAGE IN THE second SLIDE -->

          <img alt="" src="images/upload/slider-revolution/slider3.jpg" width="320px"  >

          <!-- THE CAPTIONS IN THIS SLDIE -->

          <div class="caption randomrotate"

                 data-x="0"

                 data-y="105"

                 data-speed="600"

                 data-start="1200"

                 data-easing="easeOutExpo" data-end="7100" data-endspeed="300" data-endeasing="easeInSine" > <img src="images/upload/slider-revolution/slider3-inner.png" alt="Image 1"></div>

          <div class="caption big_white sft stt slide3-style slide2-heading"

                 data-x="638"

                 data-y="126"

                 data-speed="500"

                 data-start="1500"

                 data-easing="easeOutExpo" data-end="7300" data-endspeed="300" data-endeasing="easeInSine" > Web Application Development </div>

          <div class="caption modern_medium_fat sft stt slide3-style slide2-list"

                 data-x="638"

                 data-y="216"

                 data-speed="500"

                 data-start="1700"

                 data-easing="easeOutExpo" data-end="7500" data-endspeed="300" data-endeasing="easeInSine" >

            <ul class="slider-list">

              <li>Customized Ecommerce Solutions with Payment Gateway</li>

              <li>Responsive and Cross Bowser Compatible</li>

              <li>Cloud Development</li>

              <li>Content Management Systems and Blogging Solutions</li>

              <li>Optimized for Latest SEO trends</li>

            </ul>

          </div>

        </li>

      </ul>

    </div>

  </div>

</div>

<!-- End slider -->

<!-- content 

			================================================== -->

<div id="content">

  <div class="technology">

    <div class="fullwidth-box">

      <div class="container">

        <ul>

          <li> <i class="fa fa-apple"></i></li>

          <li> <i class="fa fa-android"></i></li>

          <li> <i class="php"></i></li>

          <li> <i class="fa fa-wordpress"></i></li>

          <li> <i class="laravel"></i></li>

          <li> <i class="codeigniter"></i></li>

          <li> <i class="magento"></i></li>

          <li> <i class="fa fa-joomla"></i></li>

          <li> <i class="fa fa-html5"></i></li>

          <li><i class="fa fa-css3"></i></li>

        </ul>

      </div>

    </div>

  </div>
