

<style type="text/css">
	
   .news-item {
    background: #f6f6f6;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(246, 246, 246);
    margin-bottom: 40px;
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
</style>


<div id="content">
	<div class="page-banner">
				<div class="container">
					<h2>Testimonials</h2>
					<ul class="page-tree">
						<li><a ui-sref="main">Home</a></li>
						<li><a ui-sref="testimonial1">Testimonial</a></li>
					</ul>				
				</div>
			</div>

			<!-- blog-box Banner -->
			<div class="blog-box with-sidebar">
				<div class="container">
					<div class="row">
 						<div class="col-md-9 blog-side">
                            <ul class="pagination1">
								 <li><div class="item news-item">
                                 	<p> Priyanka was a good PHP, web and etc... developer and I enjoyed working with her. Her communication and responsiveness were top-notch and her skills were reasonably strong. In any case where the work was beyond her ability, she was very forthcoming and we worked well as a team to find additional solutions to support the core work. I enjoyed working with her and will likely have additional jobs for her in the future.</p>
									<div class="rating"><!--<img src="/assets/images/star/rating-star5.png"  />--><h2>Money Funding Network 5 Stars</h2></div>
									</div> 
                                </li>
                                
                                <li> <div class="item news-item">
								 <p>Great job. Good communication. Will work with.</p>								
                                      <div class="rating"><!--<img src="/assets/images/star/rating-star5.png"  />--> <h2> Vizion SEO</h2> </div>
								  	</div> 
                                 </li>
						        <li><div class="item news-item">
									<p>Great Job. Will hire.</p>
								 <div class="rating"><!--<img src="/assets/images/star/rating-star5.png"  /> --><h2>Vizion SEO</h2> </div>
								</div> </li>
								<li><div class="item news-item">
										<p>Amazing work quality, great communication. Saurav has been a great help and I certainly use his help again. Many thanks!.</p>
										<div class="rating"><!--<img src="/assets/images/star/rating-star5.png"  />--><h2>Ana</a></h2></div>
									</div>
                                </li>
								<li><div class="item news-item">
									<p>Excellent work done by Saurav and his team. Good communication.</p>
										<div class="rating"><!--<img src="/assets/images/star/rating-star5.png"  />--><h2>Kris</h2></div>
										</div>
                                </li>
								<li><div class="item news-item">
									<p>SBS professionals are skilled and did an awesome job, will work with them again.</p>
									<div class="rating"><!--<img src="/assets/images/star/rating-star5.png"  />--><h2>Daniel Ann</h2></div>
									</div> 
                                </li>
								<li><div class="item news-item">
									<p>Bravo - Saurav Jain for your works and.</p>
									<div class="rating"><!--<img src="/assets/images/star/rating-star5.png"  />--><h2>Kris</h2></div>
									</div> 
                                </li>
                                <li><div class="item news-item">
									<p>Saurav is a very excellent developer. 100%</p>
									<div class="rating"><!--<img src="/assets/images/star/rating-star5.png"  />--><h2>Kris</h2></div>
									</div> 
                                </li>
                                    
                                    
                                    
                                  <li><div class="item news-item">
									<p>Great freelancer, adheres to</p>
									<div class="rating"><!--<img src="/assets/images/star/rating-star5.png"  />--><h2>Vern Swift Technology Group,LLC.</h2></div>
									</div> 
                                </li>
                                
                                 <li><div class="item news-item">
									<p>Great to work with - very professional and flexible.</p>
									<div class="rating"><!--<img src="/assets/images/star/rating-star5.png"  />--><h2>LifenStyle Apps Pty Ltd.</h2></div>
									</div> 
                                </li>
                                    
                                     
                             </ul>
							
                            <div class="clearboth"></div>
                            <ul class="pagination-list">
								<li><a class="active" ui-sref="testimonial1">1</a></li>
								<li><a ui-sref="testimonial2" >2</a></li>
								<li><a ui-sref="testimonial3" >3</a></li>
							</ul>
                            
                            
                          </div>
                      	<div class="col-md-3 sidebar">
	<div class="tabs-widget widget">
									<ul class="tab-links">
										<!--<li><a class="tab-link1 active" href="#"> Popular</a></li>-->
										<li><a class="tab-link2" href="#"> Recent Project </a></li>
										<!--<li><a class="tab-link3" href="#"> Comments</a></li>-->
									</ul>
									<div class="tab-box">
										<div class="tab-content active">
											<ul class="post-popular">
												<li>
													<a href="/portfolio"> <img alt="" src="http://sbsgroupsolutions.com//assets/images/recentpost/stoneandtilepros.png" width="197" height="45"></a>
													
                                                    <!--<h6 style="margin-top:20px; float:left; width:100%;"><a href="/portfolio">Stone And Tile PROS </a></h6>-->
                                                </li>
												<li>
													<a href="/portfolio"> <img alt="" src="http://sbsgroupsolutions.com//assets/images/recentpost/prosteem.png" width="105" height="45"> </a>
													<!--<h6 style="margin-top:20px; float:left; width:100%;"><a href="/portfolio">Prosteem</a></h6>-->
												</li>
												<li>
													<a href="/portfolio"> <img alt="" src="http://sbsgroupsolutions.com//assets/images/recentpost/stone-makeover.png" width="133" height="45"></a>
													<!--<h6 style="margin-top:20px; float:left; width:100%;"><a href="/portfolio">Stone Makeover</a></h6>-->
												</li>
											</ul>
										</div>
										
									</div>
								</div>
    <div class="accordion-widget widget">
									<h3 style="text-align:left;">Testimonials</h3>
									
                                    <div class="sidebar-testi" style="margin-bottom:20px;">
                                         <p> SBS Group has developed many sites for us. I consider them to be an expert on my team and I would be lost without them. I rely on their expertise to help me make the right choices for every project.</p> <div style="margin-top:10px; text-align:right;"><span>Deborah Shaw(Debbie), Id Est Productions.</span></div>
                                         
                                         

									</div>
                                    
                                    <div class="viewall-wrap" style="width:100%; margin-top:20px; text-align:right"><a href="/testimonial" style="color:#aeaeae; text-decoration:none;">View All</a>
								</div>

							<!--	<div class="tags-widget widget">
									<h3>Tags</h3>
									<ul class="tag-widget-list">
										<li><a href="#">web design</a></li>
										<li><a href="#">coding</a></li>
										<li><a href="#">wordpress</a></li>
										<li><a href="#">woo commerce</a></li>
										<li><a href="#">php</a></li>
										<li><a href="#">photography</a></li>
									</ul>
								</div>

								<div class="text-widget widget">
									<h3>Text Widget</h3>
									<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
								</div>-->

							</div>
</div>					 </div>
				</div>
		   </div>
			</div>
		</div>  